.contain{
    width: 20vw;
    min-height: fit-content;
    background-color: white;

    /* display: flex; */
    /* align-items:center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    padding: 5px 0px;
    gap: 10px;
    margin: 20px 4px;
    position: absolute;
    top: 5%;
    right: 0;
    

}